html, body {
	height: 100%;
	margin: 0;
}

header h1{
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	text-align: center;
}

footer {
	background-color: black;
	color: white;
	height: 5%;
}

.calculator {
	display: flex;
	flex-direction: column;
}

.calculator label {
	display: flex;
	flex-direction: column;
}

.calculator label textarea {
	min-height: 500px;
	text-align: right;
	font-size: 2em;
}

.calculator input {
	font-size: 3em;
	text-align: right;
}

